/*  -=-=-=-=-=-=---> Additions <---=-=-=-=-=-=-  */
        /* Cairo */
        @import url('https://fonts.googleapis.com/css?family=Cairo');
        /* El Messiri */
        @import url('https://fonts.googleapis.com/css?family=El+Messiri');
        /* Changa */
        @import url('https://fonts.googleapis.com/css?family=Changa');
        /* Amiri */
        @import url('https://fonts.googleapis.com/css?family=Amiri');


/*  -=-=-=-=-=-=---> Style All Page Default <---=-=-=-=-=-=-  */
    *{
        font-family: 'Changa';

    }
    a.rem{text-decoration: none;}



/*  -=-=-=-=-=-=---> Style Front Page <---=-=-=-=-=-=-  */
    
body{
    direction: rtl;
    margin: 0px; padding: 0px;
    background-color: rgb(223, 223, 223);
    /*height: 2500px;*/

}
  /*********** HEADER ***********/
    header{
        background-image:linear-gradient(rgba(5, 5, 5, 0.767),rgba(0, 0, 0, 0.13),rgba(5, 5, 5, 0.767)), url(../img/wallpaper/waters.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        height: 850px;

    }
        img.logoSite{
            height: 150px;
            width: 150px;
            border-radius:50%; 
            box-shadow: 0px 0px 10px 8px rgba(4, 0, 24, 0.877) inset;
            transition-duration: 0.3s;
        
        }
        img.logoSite:hover{
            filter: blur(3px);

        }    

        div.titleSite{
            padding: 15px;

        } 
        /*
        * For next time * To show a slide when crusor on the logo
        div#imgtitle{
            transition: all 0.3s;
        }div#imgtitle:hover{ 
            filter: blur(3px); 
        }
        */
        


        div.titleSite div{
            display: inline-block;
            
        }
        div.title div#td{ 
            /* s s*/
        }
        div.titleSite div#td span{
            display: block;
        }

            div.titleSite div#td span.siteName{
                font-family: 'Changa';
                font-size: 45pt;
                color: bisque;
                position: relative;
                top: -12px;
                right: 30px;

            }
            div.titleSite div#td span.describSite{
                font-family: 'El Messiri';
                font-size: 20pt;
                color: rgb(197, 197, 197);
                position: relative;
                top: -18px;
            }
            /* The Icon on the up left aside front page*/
            div#ourTch{
                float: left;
                padding: 15px;
                padding-top: 40px;
                z-index: 3;
            }
            div.logoLink{
                display: inline-block;
                height: 50px;
                width: 50px;
                margin: 10px;
                filter:drop-shadow(50%);
                transition-duration: 0.15s;
                z-index: 2;
            }
            div.logoLink:hover{
                height: 60px;
                width: 60px;
                box-sizing: border-box;
                margin: 5px;
                box-shadow: 0 0 4px 5px #222 outset;
                transition-duration: 0.15s;

            }
    
            div#facebook{
                background-image: url(../img/logo/black/Facebook.svg);
            }
            div#facebook:hover{
                background-image: url(../img/logo/color/Facebook.svg);
            }
            div#twitter{
                background-image: url(../img/logo/black/Twitter.svg);
            }
            div#twitter:hover{
                background-image: url(../img/logo/color/Twitter.svg);
            }
            div#github{
                background-image: url(../img/logo/black/Github.svg);
            }
            div#github:hover{
                background-image: url(../img/logo/color/Github.svg);
            }
            div#googleplus{
                background-image: url(../img/logo/black/Google+.svg);
            }
            div#googleplus:hover{
                background-image: url(../img/logo/color/Google+.svg);
            }
            div#youtube{
                background-image: url(../img/logo/black/YouTube.svg);
            }
            div#youtube:hover{
                background-image: url(../img/logo/color/YouTube.svg);
            }
            div#pinterest{
                background-image: url(../img/logo/black/Pinterest.svg);
            }
            div#pinterest:hover{
                background-image: url(../img/logo/color/Pinterest.svg);
            }
            div#linkedin{
                background-image: url(../img/logo/black/Linkedin.svg);
            }
            div#linkedin:hover{
                background-image: url(../img/logo/color/Linkedin.svg);
            }

        nav{
            padding: 5px 50px;
            cursor: pointer;
        }
            span.LSiteButton{
                height: 110%;
                font-family:'Changa';
                font-size: 17px;
                color: rgb(255, 255, 255);
                text-shadow: -1px 1px 3px black; 
                transition: all 0.4s;
                
    
            }
            span.LSiteButton:hover{
                color: rgba(253, 185, 108, 0.986);
                border-bottom: 2px;
                border-bottom-color: rgba(253, 185, 108, 0.986) ;

            }
            span.LSiteButton:active{
                color: rgb(223, 86, 86);
            }
            span[class="|"]{
                height: 110%;
                font-family:'Changa';
                font-size: 20px;
                color: rgb(255, 255, 255);                
                font: bold;

            }


            section{
                height: 1250px;

            }



            footer{

                height: 300px;
                background-color: rgba(15, 15, 15, 0.856);

            }


            div#hack1{
                height: 200px;
                width: 60%;
                background-color: rgba(238, 50, 50, 0.932);
                border-radius: 4px;
                align-items: center;
                transition: all 0.5s;
            }
