/*  -=-=-=-=-=-=---> Additions <---=-=-=-=-=-=-  */
        /* Cairo */
        @import url('https://fonts.googleapis.com/css?family=Cairo');
        /* El Messiri */
        @import url('https://fonts.googleapis.com/css?family=El+Messiri');
        /* Changa */
        @import url('https://fonts.googleapis.com/css?family=Changa');
        /* Amiri */
        @import url('https://fonts.googleapis.com/css?family=Amiri');
    /* Animation */
    @keyframes myslide {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
        }


/*  -=-=-=-=-=-=---> Style All Page Default <---=-=-=-=-=-=-  */
    *{
        font-family: 'Changa';

    }
    a.rem{text-decoration: none;}

    span.myButton{
        color: azure;
        background-color: #222;
        padding: 10px;
        position: relative;
        top: 10px;
    }
    span.myButton:hover{
        background-color: rgb(25, 72, 116);
    }



/*  -=-=-=-=-=-=---> Style Front Page <---=-=-=-=-=-=-  */
    
body{
    direction: rtl;
    margin: 0px; 
    padding: 0px;
    background-color: rgb(223, 223, 223);
    /*height: 2500px;*/

}
  /*********** HEADER ***********/
  header{
    background-image:linear-gradient(rgba(5, 5, 5, 0.658),rgba(0, 0, 0, 0.13),rgba(5, 5, 5, 0.658)), url(../img/wallpaper/moss.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 850px;

}
    img.logoSite{
        height: 150px;
        width: 150px;
        border-radius:50%; 
        box-shadow: 0px 0px 10px 8px rgba(4, 0, 24, 0.877) inset;
        transition-duration: 0.3s;
    
    }
    img.logoSite:hover{
        filter: blur(3px);

    }    

    div.titleSite{
        padding: 15px;

    } 
    /*
    * For next time * To show a slide when crusor on the logo
    div#imgtitle{
        transition: all 0.3s;
    }div#imgtitle:hover{ 
        filter: blur(3px); 
    }
    */
    


    div.titleSite div{
        display: inline-block;
        
    }
    /*div.title div#td{ 
        /* s s *\
    } */
    div.titleSite div#td span{
        display: block;
    }

        div.titleSite div#td span.siteName{
            font-family: 'Changa';
            font-size: 45pt;
            color: bisque;
            position: relative;
            top: -12px;
            right: 30px;

        }
        div.titleSite div#td span.describSite{
            font-family: 'El Messiri';
            font-size: 20pt;
            color: rgb(197, 197, 197);
            position: relative;
            top: -18px;
        }
        /* The Icon on the up left aside front page*/
        div#ourTch{
            float: left;
            padding: 15px;
            padding-top: 40px;
            z-index: 3;
        }
            /* The Icon on the up left aside front page*/
            div#ourTch{
                float: left;
                padding: 15px;
                padding-top: 40px;
                z-index: 3;
            }
            div.logoLink{
                display: inline-block;
                height: 50px;
                width: 50px;
                margin: 10px;
                filter:drop-shadow(50%);
                transition-duration: 0.15s;
                z-index: 2;
            }
            div.logoLink:hover{
                height: 60px;
                width: 60px;
                box-sizing: border-box;
                margin: 5px;
                box-shadow: 0 0 4px 5px #222 outset;
                transition-duration: 0.15s;

            }
    
            div#facebook{
                background-image: url(../img/logo/black/Facebook.svg);
            }
            div#facebook:hover{
                background-image: url(../img/logo/color/Facebook.svg);
            }
            div#twitter{
                background-image: url(../img/logo/black/Twitter.svg);
            }
            div#twitter:hover{
                background-image: url(../img/logo/color/Twitter.svg);
            }
            div#github{
                background-image: url(../img/logo/black/Github.svg);
            }
            div#github:hover{
                background-image: url(../img/logo/color/Github.svg);
            }
            div#googleplus{
                background-image: url(../img/logo/black/Google+.svg);
            }
            div#googleplus:hover{
                background-image: url(../img/logo/color/Google+.svg);
            }
            div#youtube{
                background-image: url(../img/logo/black/YouTube.svg);
            }
            div#youtube:hover{
                background-image: url(../img/logo/color/YouTube.svg);
            }
            div#pinterest{
                background-image: url(../img/logo/black/Pinterest.svg);
            }
            div#pinterest:hover{
                background-image: url(../img/logo/color/Pinterest.svg);
            }
            div#linkedin{
                background-image: url(../img/logo/black/Linkedin.svg);
            }
            div#linkedin:hover{
                background-image: url(../img/logo/color/Linkedin.svg);
            }

        nav#branchSite{
            background-color: rgba(0, 0, 0, 0.733);
            padding: 10px;
            text-align: center;
            width: 100%;

        }
            span.LSiteButton{
                height: 110%;
                font-family:'Changa';
                font-size: 17px;
                color: rgb(255, 255, 255);
                text-shadow: -1px 1px 3px black; 
                transition: all 0.3s;
                cursor: pointer;
                padding: 5px;
                
            }
            span.LSiteButton:hover{
                color: rgba(243, 211, 70, 0.945);
                border-bottom: 2px solid rgb(243, 209, 60, 0.945);
                font-size: 20px;
                padding: 0px

            }
            span.LSiteButton:active{
                color: rgb(223, 86, 86);
            }
            span.LSiteButton:visited{
                color: rgb(80, 80, 80);
            }
            span[class="|"]{
                height: 110%;
                font-family:'Changa';
                font-size: 20px;
                color: rgb(255, 255, 255);                
                font: bold;

            }
            section#signPeople{
                background-color: rgba(0, 0, 0, 0.603);
                width: 85%;
                height: 450px;
                margin: 90px;
    
                }
                section#signPeople div.sign{
                    display: inline-grid;
                    width: 45%;
                    padding: 20px;
                    border-left: 2px none black;
    
                }
                section#signPeople div div.title{
                    color: azure;
                    background-color: maroon;
                    width: 30%;
                    padding: 10px;
                } 
                div.sign form{
                    margin: 10%;
                }
                form input.input{
                    display: block;
                    align-items: center;
                    margin: 15px;
                    border: 2px paleturquoise dotted;
                    text-align: center;
                    width: 250px;
                    height: 40px;
                    background-color: rgba(63, 63, 63, 0.686);
                    color: azure;
                    direction: ltr

                }
                form[name="rescave"] input.input[name="repass"]{
                    align-items: center;
                    border: 2px paleturquoise dotted;
                    text-align: center;
                    width: 240px;
                    height: 30px;
                    background-color: rgba(63, 63, 63, 0.685);
                    color: azure;
                    direction: ltr;
                    display: inline;
                }
           


  /*********** section ***********/

    section{
        height: 600px;
    }
        
        article#showPort{
            position: relative;
            top: 29px;
            padding: 20px;
            margin: 0px;
          
        }
            div.describThing{
                width: 29%;
                display: inline-table;
                padding: 10px;
                margin-right: 20px;
                
            }
                div.describThing img{
                    height: 60px;
                    width: 60px;
                    align-items: flex-start;
                }
                div.describThing span{
                    color: rgb(0, 0, 0);
                    text-align: start;

                }
                div.describThing span.title{
                    font-size: 25px;
                    position: relative;
                    top:-20px;
                    right: 20px;
                    
                }
                div.describThing span.describ{
                    display: block;
                }


  /*********** FOOTER ***********/

            footer{

                min-height: 300px;
                max-height: 400px;
                background-color: rgba(15, 15, 15, 0.856);

            }
                div.listItem{
                    display: inline-block;
                    padding: 5px;
                    margin:12px;
                    color: azure;
                    width: 17%;
                    align-items: center center;
                }
                span.itemTitle{
                    font-size: 25px;
                    margin-bottom: 10px;
                }

                span.item{
                    display: block;
                    padding: 5px;
                    color: azure;
                    font-size: 15px;
                }
                span.item:hover{
                    border-bottom: rgb(150, 150, 150);
                    color: rgb(150, 150, 150);
                }